/* =========================
   MOBITEL
========================= */
@media (max-width: 480px) {

  header {
    padding: 60px 15px 50px;
  }

  header h1 {
    font-size: 1.9rem;
  }

  nav ul {
    flex-direction: column;
  }

  main {
    margin: 50px auto;
    padding: 0 15px;
  }

  section,
  .kartica,
  .project-card,
  .onama,
  .povijest,
  .zastomi,
  .misijavizija,
  .sekcija,
  .zasto404,
  .kontakt {
    padding: 25px;
  }

  .projects {
    grid-template-columns: 1fr;
  }

  .btn,
  .kupi,
  .btn-projekti {
    width: 100%;
  }

  figure img {
    width: 180px;
    height: 180px;
  }

  .slika {
    width: 100%;
  }
}

/* =========================
   TABLET
========================= */
@media (min-width: 481px) and (max-width: 1024px) {

  header h1 {
    font-size: 2.4rem;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  .slika {
    width: 80%;
  }
}
